#body {
  background-color: #000C0A;
  text-align: center;
}
#maindiv {
  background-color: black;
  margin-top: 50px;
}
#header {
  background-color: #004315;
  color: #00F35C;
  text-align: center;
  border-bottom-style: solid;
}
#row1 {
  color: #00F35C;
  border-style: solid;
  
}
#colform {
  border-right-style: solid;
  
}
form {
  color: #00732D;
  
}
#coltable {
  
  color: #00732D;
}
table, th, td {
  margin: 0px auto;
  border: solid green;
}