#body {
  background-color: #000C0A;
  background-image: radial-gradient(#00F35C, #004315, #000C0A);
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  text-align: center;
}
#maindiv {
  background-color: black;
  margin-top: 50px;
}
#header {
  background-color: black;
  color: #00F35C;
  text-align: center;
  border-bottom-style: solid;
}
#row1 {
  color: #00F35C;
  border-style: solid;
  
}
#colform {
  border-right-style: solid;
  
}
form {
  color: #00F35C;
}
input {
  background-color: rgb(3, 55, 3);
}
button {
  background-color: rgb(3, 55, 3);
}
#error {
  color: red;
  font-weight: bold;
}
table {
  margin: 50px auto;
  border: solid #00F35C;
  
  text-align: center;
  border-collapse: collapse;
}

tr {
  border: solid #00F35C;
  
}
th {
  border: solid #00F35C;
  text-align: center;
}
td {
  border: solid #00F35C;
  
}

